body{
    background-color:#F1927C;
    text-align: center;
    display: inline;
    margin: 0 !important;
    padding: 0 !important;
    
}
img#myworld{
    width: 600px;
    padding-left: 0px;
}
p#aboutme {
background-color: #F1927C;
text-align: center;
padding-left: 100px;
padding-right:100px;
}
div#header{
     background-color:#D57965; 
text-align: center;
}
div#contact{
    display: inline;
}
a#home
{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: blueviolet;
}

div.container{
    max: width 1000px;
    margin:0px;
    background-color: cadetblue;
    height:120px;
    line-height: 150px;
}
ul.mainline{
    display:inline;
    padding-inline-start: 40px;
list-style-type: none;
line-height: 150px;
float:right;
font-family: Arial, Helvetica, sans-serif;
color: cornflowerblue;
padding-right: 40px;
}
html{
    margin-top: 0%;
    display: block;
}
a.topbar{
    color:cornsilk;
    font-size: 30px;
    margin-top: 2!important;
    text-decoration: none;
    
    
}
a.homelink{
    float:right;
    color:cornsilk;
    font-size: 30px;
    margin-top: 2!important;
    text-decoration: none;
    
}
p#lifeofsaloni{
    font-size: 30px;
   font-family: Arial, Helvetica, sans-serif;
   color:cornsilk;
   text-align: center;


}