body{
    background-color:#D57965;
    text-align: center;
    display: inline;
}
img#myworld{
    width: 500px;
    border-style: solid;
    border-color: darkslategrey;

}
p#aboutme {
background-color: #D57965;
text-align: center;
padding-left: 100px;
padding-right:100px;
}
div#header{
background-color:#D57965;
text-align: center;
}
div#contact{
    display: inline;
}
a#home
{
    text-align: center;
    color: darkolivegreen;
}
